  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,300&family=Open+Sans:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;1,600&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(../IMG/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #fff;
    box-shadow: 7px 13px 37px #000;
    font-family: 'Barlow', sans-serif;
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: #fff;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    padding: 2px;
}
.form-register a{
color: #fff;
text-decoration: none;
}
.form-register a:hover{
    color: #fff;
    text-decoration: underline;
    }
.form-register .botons{
   width: 100%;
   background: #1f53c5;
   border: none;
   padding: 12px;
   color: #fff;
   margin: 16px 0;
   font-size: 16px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   cursor: pointer;
}

img {
   width: 50px;
   height: 50px;
   background-size: cover;
}